spring:
  security:
    user:
      name: developer
      password: developerActuatorHealth
      roles: developer
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    driver-class-name: org.postgresql.Driver
    username: # set username
    password: # set password
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  prometheus:
    metrics:
      export:
        enabled: true

  metrics:
    enable:
      jvm: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
        jvm.memory.used: true